<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= stylesheet_pack_tag "inter-font", "data-turbo-track": "reload"%>
     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  </head>

  <body class="min-vh-100 min-vw-100">

     <%= render 'shared/navbar'%>

    <main>
        <%= yield %>
    </main>
  </body>
</html>
